nose==1.3.7
git+https://github.com/wtsi-hgi/test-with-baton.git@45192d3f8037c4d31be5972ea6e692927aedbe4e#egg=testwithbaton
git+https://github.com/wtsi-hgi/test-with-irods.git@da257cd36d04244a1ef244da5e98cb4fa2b7c598#egg=testwithirods
frozendict==0.6